body {
    margin: 0 auto;
}

.container {
    width: 90%;
    margin-top: 50px;
}

hr {
    border: solid lightgray 0.5px;
}

#stock {
    margin-top: 20px;
}

#side-form {
    width: 25%;
    height: 100%;
    background: rgb(226, 236, 240);
    border-radius: 10px;
    float: left;
}

#stock-form {
    margin: 20px;
}

input {
    width: 75%;
    height: 25px;
}

select {
    width: 77%;
    height: 35px;
}

textarea {
    width: 75%;
}

#save-btn {
    width: 100px;
    height: 35px;
}

#side-list {
    width: 70%;
    height: 100%;
    background: rgb(246, 246, 246);
    border-radius: 10px;
    margin-left: 5%;
    float: left;
}

#clear {
    clear: both;
}

.stocks-item {
    width: 100%;
    margin: 20px;
}

#stock-title {
    margin-left: 20px;
}

table {
    width: 96%;
    text-align: left;
    padding: 5px;
    /* border: solid black .5px; */
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 33px;
}

#edit-btn {
    /* width: 50px; */
    height: 25px;
    background: none;
    border: solid rgb(174, 174, 238) 0px;
    border-radius: 5px;
}

.edit {
    font-size: 25px;
    color: rgb(15, 137, 243);
    cursor: pointer;
}

#delete-btn {
    /* width: 65px; */
    height: 25px;
    background: none;
    border: solid rgb(234, 174, 150) 0px;
    border-radius: 5px;
}

.delete {
    font-size:25px;
    color:red;
    cursor: pointer;
}
